.carousel {
    box-shadow: #000 2px;
  }
  .carousel-inner {
    margin: 0 auto;

  }
  .carousel-indicators li {
    border-color: #000;
  }
  .carousel-indicators .active {
    background-color: #000;
  }